@charset "UTF-8";

body {
  background-color: #f0f0f0;
  margin: 0;
}

.inner-nav {
  padding: 0 16px;
  width: 100%;
}

h1 {
  margin: 0;
}

header img {
  width: 80px;
  height: auto;
  margin-top: 20px;
}

header ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0 0 10px;
  padding: 0;
  font-size: 14px;
}

.contact {
  display: none;
}

.figure1 img {
  width: 100%;
  object-fit: cover;
  height: calc(100vh - 80px);
}

/* NEWS ニュース */
.NEWS {
  padding: 30px 10px 0 20px;
}

h2 {
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

.en {
  margin-bottom: 10px;
  font-size: 36px;
  letter-spacing: 10px;
}

.ja {
  font-size: 14px;
}

.ja::after {
  margin-top: 24px;
  content: "";
  width: 40px;
  height: 1.5px;
  background-color: #000;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.NEWS li {
  margin-bottom: 10px;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 14px;
}

li span {
  font-size: 12px;
  display: inline-flex;
  border: 1px solid black;
  margin-left: 10px;
  background: black;
  color: white;
  width: 50px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.figure2 img {
  width: 100%;
  object-fit: cover;
}

/* about */
.ABOUT {
  margin-bottom: 60px;
  padding: 0 16px;
}

.ABOUT h2 {
  margin-bottom: 34px;
}

.ABOUT p {
  font-size: 14px;
}

.about .ja::after {
  margin-top: 24px;
  content: "";
  width: 40px;
  height: 0.5px;
  background-color: #000;
  display: block;
}

/* business */

.BUSINESS {
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
}

.BUSINESS p {
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 18px;
  box-sizing: border-box;
}

.BUSINESS p::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 1px;
  background-color: #000;
  align-items: center;
  vertical-align: middle;
  margin-right: 10px;
}

.BUSINESS img {
  width: 100%;
  margin-bottom: 20px;
}

/* company */
.COMPANY {
  padding: 0px 16px;
  margin-top: 60px;
}

.company {
  padding: 40px 20px;
  background: white;
  margin-bottom: 20px;
  font-size: 14px;
}

.company dt {
  margin-top: 20px;
}

.company dd {
  margin: 5px 0 0;
  padding-left: 14px;
}

.figure3 {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.WED {
  background: white;
  padding: 40px 16px 0;
}

.WED h2 {
  margin: 0;
}

.WED img {
  width: 80px;
  height: auto;
}

.wed p {
  font-size: 14px;
}

footer {
  font-size: 14px;
  padding-bottom: 20px;
}

@media (min-width:900px) {
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .inner-nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1032px;
  }

  header ul {
    margin: 0;
  }

  h1 img {
    margin: 0 60px 0 0;
    width: 100px;
    height: auto;
  }

  .contact {
    width: 200px;
    height: 80px;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
  }

  /* .NEWS */
  .NEWS {
    max-width: 1032px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
  }

  .NEWS ul {
    display: flex;
  }

  .NEWS li:first-child {
    padding-left: 0;
  }

  .NEWS li {
    padding: 10px 20px;
    width: calc(100%/3);
    border-right: 1px solid black;
    box-sizing: border-box;
  }

  .NEWS li:last-child {
    padding-right: 0;
    border-right: none;
  }

  h2 {
    margin-bottom: 50px;
  }

  /* .ABOUT */
  .about {
    display: flex;
  }

  .figure2 {
    width: 55%;
  }

  .about img {
    height: 400px;
  }

  .ABOUT {
    width: 45%;
    padding: 180px 5% 0 5%;
    box-sizing: border-box;
  }

  /* business */
  .BUSINESS {
    margin: 0 auto;
    max-width: 1000px;
  }

  .flex {
    display: flex;
    max-width: 1000px;
    padding: 0 100px;
    gap: 50px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
  }

  .left {
    width: calc(50% - 25px);
    padding-top: 60px;
  }

  .right {
    width: calc(50% - 25px);
    padding-bottom: 60px;
  }

  /* company */
  .COMPANY {
    display: flex;
    position: relative;
    height: 750px;
    padding: 16px;
    margin: 0 auto;
    max-width: 1032px;
    margin: 0 auto;
  }

  .company {
    position: absolute;
    width: 55%;
    padding: 100px 8% 100px 6%;
    top: 0;
    left: 0;
  }

  .figure3 {
    position: absolute;
    width: 45%;
    object-fit: cover;
    top: 100px;
    right: 0;
  }

  .COMPANY h2 {
    margin-top: 0;
  }

  dl div {
    display: flex;
    margin-top: 10px;
  }

  .company dt {
    margin-top: 0px;
    width: 20%;
  }

  .company dd {
    margin-top: 0;
    padding-left: 0;
  }

  .service {
    margin-left: 20%;
  }

  /* wed */
  .WED {
    padding: 0;
  }

  .wed {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    align-items: center;
  }

  footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px 20px 40px;
  }

}